.chart-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .widget-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .dashboard-container {
    background-color: white;
  }
  
  
  .chart-col {
    background-color: white;
  }
  .chart-row {
    border-radius:20px;
  }
  
  